{% load staticfiles %}
<h2 class="page-header">What’s new</h2>
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs pull-right">
    <li class="active">
      <a href="#tab_1-1" data-toggle="tab">News</a>
    </li>
    <li><a href="#tab_2-2" data-toggle="tab">Notice</a></li>

    <li class="pull-left header">
      <i class="fa fa-th"></i>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1-1">
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="news-block">
            <img src="https://img0.yna.co.kr/photo/cms/2016/02/03/01/C0A8CA3C00000152A5875EC000005554_P4.jpeg" alt="User Image" />
            <span class="news-title"><a href="#">FAO opens liaison office in S. Korea</a></span>
            <span class="description">2019.05.13</span>
          </div>
          <!-- /.user-block -->
          <div class="box-tools">
            <button
              type="button"
              class="btn btn-box-tool"
              data-widget="collapse"
            >
              <i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          <p>
            The U.N. Food and Agriculture Organization (FAO) opened a liaison office in South Korea on Monday to play a greater role in global food-related projects and promote global movements against famine and poverty.
          </p>

          <!-- Social sharing buttons -->
          <a href="https://en.yna.co.kr/view/AEN20190513004900320?input=2106m" target="_blank"><i class="fa fa-eye"></i> Read more</a>

         
        </div>
      </div>
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="news-block">
            <img src="{% static 'img/agri/news_02.jpg' %}" alt="User Image" />
            <span class="news-title"><a href="#">[정운찬 칼럼]우리 농업의 활로를 다시 생각해 본다</a></span>
            <span class="description">2019.05.13</span>
          </div>
          <!-- /.user-block -->
          <div class="box-tools">
            <button
              type="button"
              class="btn btn-box-tool"
              data-widget="collapse"
            >
              <i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          <p>
            해마다 프랑스 파리 근교에서는 농업박람회(Salon International de l’agriculture)가 열린다. 1844년 가축 경연대회에서 유래한 이 박람회는 1964년부터 일반에게 공개되어 대회마다 약 60만명이 다녀가는 유럽 최대의 농업 관련 박람회다. 축구장 20개 넓이의 전시장에 수천마리의 가축이 등장할 정도로 규모가 커서 전시장을 다 둘러보려면 온종일 발품을 팔아도 시간이 모자랄 정도다.
          </p>

          <!-- Social sharing buttons -->
          <a href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=201905132107005&code=990100" target="_blank"><i class="fa fa-eye"></i> Read more</a>
        </div>
      </div>

    
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_2-2">
      <div id="calendar"></div>
    </div>
    <!-- /.tab-pane -->

    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div>
