{% load staticfiles %}

              <div class="col-md-6">
                <h2 class="page-header">Partners & Sponsors</h2>
                <div
                  id="carousel-example-partners"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="item active">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div
                            class="sponsor"
                            style="background-image: url('{% static "img/agri/org_cbnu.jpg" %}')"
                            title="Chungbuk National University"
                          ></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div
                            class="sponsor"
                            style="background-image: url('{% static "img/agri/org_chonnam.jpg" %}')"
                            title="Chonnam National University"
                          ></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div
                            class="sponsor"
                            style="background-image: url('{% static "img/agri/org_rda.png" %}')"
                            title="Rural Development Administration"
                          ></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div
                            class="sponsor"
                            style="background-image: url('{% static "img/agri/org_dgist.jpg" %}')"
                            title="Daegu Gyeongbuk Institute of Science and Technology"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
          