<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="box box-solid">
    <div class="box-header with-border">
      <i class="fa fa-question"></i>
      <h3 class="box-title">FAQ</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body box-comments" style="height: 315px; overflow: auto;">
      <div class="box-comment question">
        <i class="fa fa-question pull-left"></i>
        <div class="comment-text">
          <span class="username">What is agriculture?</span>
        </div>
      </div>

      <div class="box-comment answer">
        <i class="fa fa-info pull-left"></i>
        <div class="comment-text">
          <span class="">Agriculture is the science and art of cultivating plants and livestock.</span>
        </div>
      </div>

      <div class="box-comment question">
        <i class="fa fa-question pull-left"></i>
        <div class="comment-text ">
          <span class="username">Can I select any specific channel on trend analysis? </span>
        </div>
      </div>

      <div class="box-comment answer">
        <i class="fa fa-info pull-left"></i>
        <div class="comment-text ">
          <span class="">Yes, you can. You can configure channels click on the options button.</span>
        </div>
      </div>

    

    </div>
    <div class="box-footer text-center">
      <!-- <a href="javascript:void(0)" class="uppercase">View All</a> -->
    </div>
  </div>
</div>
