
          
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="{% url 'm_index' %}"
                ><i class="fa fa-dashboard"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="/agrivis/"
                ><i class="fa fa-bar-chart"></i> <span>Visualization</span></a
              >
            </li>
            <li class="header">Agri-Food</li>

            <li class="active">
              <a href="{% url 'vis_af_trend' %}"
                ><i class="fa fa-search"></i> <span>Agro-Food Trend</span></a
              >
            </li>
            <li>
              <a href="{% url 'vis_af_trend' %}"
                ><i class="fa fa-table"></i> <span>Analysis</span></a
              >
            </li>
            <li>
              <a href="{% url 'vis_af_trend' %}"
                ><i class="fa fa-book"></i> <span>Prediction</span></a
              >
            </li>
            <li>
              <a href="{% url 'vis_af_trend' %}"
                ><i class="fa fa-bar-chart"></i> <span>Basic Statics Analytics</span></a
              >
            </li>
          </ul>
     