{% extends "layout/layout.html" %}
{% block title %}| Timeline{% endblock %}
{% block content %}
<div class="container">
<section class="content-header">
            <h1>Timeline</h1>
            <ol class="breadcrumb">
                <li>
                <a href="index.html"><i class="fa fa-dashboard"></i> Home</a>
              </li>
              <li class="active">Timeline</li>
            </ol>
            </ol>
        </section>
        <section class="content">
            <!-- row -->
            <div class="row">
              <div class="col-md-12">
                <!-- The time line -->
                <ul class="timeline">
                  <li class="time-label">
                    <span class="bg-green">
                      December. 2019
                    </span>
                  </li>

                  <li>
                    <i class="fa fa-clock-o bg-blue"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header"><b>Version</b> 3.0</h3>

                      <div class="timeline-body">
                        <ul class="list-unstyled">
                          <li>
                            Etsy doostang zoodles disqus groupon greplin oooj
                            voxy zoodles, weebly ning heekya handango imeem
                            plugg dopplr jibjab, movity jajah plickers sifteo
                            edmodo ifttt zimbra. Babblely odeo kaboodle quora
                            plaxo ideeli hulu weebly balihoo...
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li class="time-label">
                    <span class="bg-green">
                      August. 2019
                    </span>
                  </li>

                  <li>
                    <i class="fa fa-clock-o bg-blue"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header"><b>Version</b> 2.0</h3>

                      <div class="timeline-body">
                        <ul class="list-unstyled">
                          <li>
                            Etsy doostang zoodles disqus groupon greplin oooj
                            voxy zoodles, weebly ning heekya handango imeem
                            plugg dopplr jibjab, movity jajah plickers sifteo
                            edmodo ifttt zimbra. Babblely odeo kaboodle quora
                            plaxo ideeli hulu weebly balihoo...
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li class="time-label">
                    <span class="bg-green">
                      June. 2019
                    </span>
                  </li>

                  <li>
                    <i class="fa fa-clock-o bg-blue"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header"><b>Version</b> 1.0</h3>

                      <div class="timeline-body">
                        <ul class="list-unstyled">
                          <li>Korean-text based text mining</li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li class="time-label">
                    <span class="bg-green">
                      April. 2019
                    </span>
                  </li>

                  <li>
                    <i class="fa fa-clock-o bg-blue"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header">Developing Beginning</h3>

                      <div class="timeline-body">
                        <ul class="list-unstyled">
                          <li>Version 0.1 was developed</li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li class="time-label">
                    <span class="bg-green">
                      March. 2019
                    </span>
                  </li>

                  <li>
                    <i class="fa fa-clock-o bg-blue"></i>

                    <div class="timeline-item">
                      <h3 class="timeline-header">Project Beginning</h3>

                      <div class="timeline-body">
                        <ul class="list-unstyled">
                          <li>Collecting data using Web Crawler</li>
                          <li>Refine and Retain collected data</li>
                          <li>Text Big Data analysis</li>
                          <li>Make System Design of the System</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </section>
</div>
{% endblock content %}